<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head th:replace="fragments/header.html :: headMeta (title = ${title})"></head>
<body>

<header th:replace="fragments/header.html :: searchLogout"></header>

<div class="container-fluid">
    <div class="row">
        <th:block th:replace="fragments/left-menu.html :: menu"></th:block>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div th:replace="fragments/header.html :: breadcrumb ('Edit Contact')"></div>

            <div class="col-md-12 col-lg-9">


                <form th:action="@{/contact/update}" method="post" th:object="${contactForm}">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" id="name" th:field="*{name}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="url" class="col-sm-2 col-form-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('url')} ? 'is-invalid'" id="url" th:field="*{url}" required />
                            <div class="invalid-feedback" th:errors="*{url}"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="enabled" th:checked="*{isActive}" name="active">
                                <label class="form-check-label" for="enabled">
                                    Enabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-danger me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#cancelOperation">Cancel</button>
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
                    <input type="hidden" name="id" th:field="*{id}" />
                </form>
            </div>

            <div class="modal fade" id="cancelOperation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Canceling operation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure that you wish to cancel the modifying of the item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a class="btn btn-danger" th:href="@{/contacts}" role="button">Yes</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body></html>