<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin Template · Bootstrap v5.0</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/5.2.0/css/bootstrap.min.css}"  rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <script th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}" ></script>

</head>
<body class="text-center">

<main class="form-signin">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required value="admin@gmail.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required value="123456">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted" th:fragment="loginFooter" th:text="|Copyright &copy; ${#dates.year(#dates.createNow())}|"></p>
    </form>
</main>

</body></html>